html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
ul{
  list-style-type: none;
  padding:0;
  margin:0 !important;
}
li:last-child{
  margin:0;
}
li a{
  text-decoration:none;
}
i{
 color:#f1efe8;
}

/*  global
======================*/

.site-name,
.section-title{
  font-family: 'Roboto Slab', serif;
  font-weight:700;
}
.site-name{
  font-size:3.75rem;
  line-height: 3.125rem;
}
section .websites h3,
section .codepen h3,
section .skills h3{
  font-family: 'Roboto Slab', serif;
  font-weight:700;
}
.title,
p{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.title{
  font-size:1rem;
  font-style:italic;
  font-weight:700;
  line-height: 1rem;
}
::-webkit-input-placeholder{
  font-family: 'Roboto', sans-serif;
  font-size:0.8125rem;
  font-weight:400;
  font-style:italic;
  color:#7d7d7d;
}

/*  font styles
======================*/

header,
article{
  background-color: #ffd41d;
}
section,
footer{
  background-color:#ec0349;
}
header{
    padding:1.875rem 1.875rem 0;
}
section,
article,
footer{
    padding:1.875rem 1.875rem 1.875rem;
}
header h1.site-name{
  color:#ec0349; /*-- red --*/
  margin-bottom:0.625rem;
}
header h2.title{
  color:#62500f; /*-- brown --*/
}
section h2.section-title,
article h2.section-title,
footer h2.section-title{
  font-size:2.875rem;
  line-height: 3.125rem;
  margin-bottom: 1.563rem;
}
section h2.section-title,
footer h2.section-title{
  color:#f1efe8; /*-- white --*/
}
article h2.section-title{
  color:#62500f; /*-- brown --*/
}
section .websites h3,
section .codepen h3{
  font-size:1.25rem;
  color:#ffd41d;
}
section .skills h3{
  font-size: 1.563rem;
  color:#00ffff;
}
section .websites li,
section .codepen li{
  font-size:0.785rem;
  line-height: 1rem;
}
section .websites li a,
section .codepen li a{
  text-decoration:underline;
  color:#f1efe8;
}
section .skills li{
  font-size:1.063rem;
  color:#f1efe8;
}
article .name{
  font-size: 1.125rem;
  font-weight:700;
  color:#ec0349;
}
article p{
  font-size: 0.875rem;
  margin-bottom:0.625rem;
}
article .fa-quote-left{
  font-size:40px;
  color:#ec0349;
}
footer .social li a{
  font-size: 0.875rem;
  color:#f1efe8;
}

footer .social .fa{
  font-size:1.563rem;
  margin-right:1.25rem;
}
footer p.resume-pdf{
  font-size: 0.8125rem;
  margin-bottom:0.625rem;
}
footer .resume-pdf a{
  color:#ffd41d;
}
footer h3.tagline{
  font-size: 1.063rem;
  letter-spacing:0.010rem;
  margin-bottom:0.3125rem;
  color:#f1efe8;
}
footer .intro{
  font-family: 'Roboto Slab', serif;
  font-size:0.75rem;
  color:#ffd41d;
}
footer .my-button{
  background-color: #ffd41d !important;
  border:none !important;
  margin-bottom:0;
}
form{
  padding-bottom:2.188rem;
  margin-bottom:1.563rem;
  border-bottom:6px solid #ffd41d;
}
/*  colour styles
======================*/
header img{
  width:276px;
}
article img{
  width:86px;
  border-radius:50%;
  margin-bottom:1.25rem;
}

input.u-full-width{
  margin-bottom:0.8125rem;
}
textarea.u-full-width{
  margin-bottom: 1.125rem
}

/*  form style
======================*/
